
body {
  background-color: rgb(17, 247, 151);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: rgb(49, 59, 59);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(238, 39, 49);
  z-index: 2;
}

#snake-head {
  background-color: rgb(204, 204, 119);
}

.apple {
  background-color: rgb(255, 119, 119);
  z-index: 1;
}
